ytd-app {
  --yt-spec-base-background: #1a1b26 !important;
  --yt-spec-raised-background: #16161e !important;
  --yt-spec-menu-background: #16161e !important;
  --yt-spec-general-background-a: #1a1b26 !important;
  --yt-spec-general-background-b: #16161e !important;
  --yt-spec-general-background-c: #2f3549 !important;

  --yt-spec-text-primary: #a9b1d6 !important;
  --yt-spec-text-secondary: #787c99 !important;
  --yt-spec-text-disabled: #444b6a !important;

  --yt-spec-brand-background-solid: #1a1b26 !important;
  --yt-spec-brand-background-primary: #1a1b26 !important;
  --yt-spec-brand-background-secondary: #16161e !important;

  --yt-spec-call-to-action: #7aa2f7 !important;
  --yt-spec-call-to-action-inverse: #1a1b26 !important;

  --yt-spec-icon-active-other: #7aa2f7 !important;
  --yt-spec-icon-inactive: #787c99 !important;

  --yt-spec-10-percent-layer: rgba(47, 53, 73, 0.4) !important;
  --yt-spec-outline: #2f3549 !important;
}

html[dark] body,
html[dark] ytd-app {
  background-color: #1a1b26 !important;
}

ytd-app * {
  border-radius: 0 !important;
}
